Backend/src/main/java/com/projekat/XML/wsdl/advertisementDTO.wsdl

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="root">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="brand">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:byte"/>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="carClass">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:byte"/>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element type="xs:byte" name="carSeats"/>
            <xs:element name="fuelType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:byte"/>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="model">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:byte"/>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:byte" name="price"/>
            <xs:element name="transType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:byte"/>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element type="xs:byte" name="travelled"/>
            <xs:element type="xs:byte" name="userID"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>
