Backend/src/main/resources/Advertisement.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:sch="http://com.Advertisement/JavaGeneratedFiles"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://com.Advertisement/JavaGeneratedFiles"
                  targetNamespace="http://com.Advertisement/JavaGeneratedFiles">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   attributeFormDefault="unqualified" elementFormDefault="qualified"
                   targetNamespace="http://com.Advertisement/JavaGeneratedFiles">
            <xs:element name="getAdvertisementRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="advertisement" type="tns:advertisement"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAdvertisementResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="advertisement">
                <xs:sequence>
                    <xs:element name="brand">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="id" type="xs:long"/>
                                <xs:element name="name" type="xs:string"/>
                                <xs:element name="code" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="carClass">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="id" type="xs:long"/>
                                <xs:element name="name" type="xs:string"/>
                                <xs:element name="code" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="carSeats" type="xs:int"/>
                    <xs:element name="fuelType">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="id" type="xs:long"/>
                                <xs:element name="name" type="xs:string"/>
                                <xs:element name="code" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="model">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="id" type="xs:long"/>
                                <xs:element name="name" type="xs:string"/>
                                <xs:element name="code" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="price" type="xs:double"/>
                    <xs:element name="transType">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="id" type="xs:long"/>
                                <xs:element name="name" type="xs:string"/>
                                <xs:element name="code" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="travelled" type="xs:int"/>
                    <xs:element name="userID" type="xs:long"/>
                    <xs:element name="idInMonolith" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>

            <xs:element name="getBookingRequestRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="bookingRequest" type="tns:bookingRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="bookingRequest">
                <xs:sequence>
                    <xs:element name="userForId" type="xs:long"/>
                    <xs:element name="userToId" type="xs:long"/>
                    <xs:element name="stateOfRequest" type="xs:boolean"/>
                    <xs:element name="advertisementIdInMonolith" type="xs:long"/>
                    <xs:element name="groupId" type="xs:long"/>
                    <xs:element name="together" type="xs:boolean"/>
                    <xs:element name="timeFrom" type="xs:dateTime"/>
                    <xs:element name="timeTo" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAdvertisementRequest">
        <wsdl:part element="tns:getAdvertisementRequest" name="getAdvertisementRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAdvertisementResponse">
        <wsdl:part element="tns:getAdvertisementResponse" name="getAdvertisementResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="SaveSoapAdvertisementPort">
        <wsdl:operation name="getAdvertisement">
            <wsdl:input message="tns:getAdvertisementRequest" name="getAdvertisementRequest"> </wsdl:input>
            <wsdl:output message="tns:getAdvertisementResponse" name="getAdvertisementResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SaveSoapAdvertisementPortSoap11" type="tns:SaveSoapAdvertisementPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getAdvertisement">
            <soap:operation soapAction=""/>
            <wsdl:input name="getAdvertisementRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAdvertisementResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SaveSoapAdvertisementPortService">
        <wsdl:port binding="tns:SaveSoapAdvertisementPortSoap11" name="SaveSoapAdvertisementPortSoap11">
            <soap:address location="http://localhost:8085/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
